<div class="columns has-text-centered" id="blog-card">
    <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
        <div class="image is-16by9" style="background-image: url({{post.post-image}});"></div>
    </div>
    <a href="{{post.url | absolute_url}}">
        <div class="column has-text-left-desktop has-text-left-tablet">
            <h1 class="title is-size-4-touch">{{post.title}}</h1>
            <div class="content has-text-grey">
                {{ post.content | truncate: 300 | strip_html | strip_newlines | strip | escape }}
                <hr class="has-background-grey">
                <span class="has-text-grey">发布于
                    <span class="has-text-weight-semibold">{{ post.date | date: "%Y年%m月%d日" }}</span>
                </span>
                 | 
                <i class="fas fa-clock"></i>
                阅读时间
                <span class="has-text-weight-semibold">
                    {% assign length = post.content | size %}
                    {%- unless content.size == 0 -%}
                    {{ length | divided_by:500 }} 分钟{% endunless %}</span> 
            </div>
        </div>
    </a>
</div>