<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        <br>
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <img src="{{site.url}}/assets/images/logo.png" alt="Logo" style="max-width: 40px">
      <br>
      <a href="{{site.url}}{{site.baseurl}}/help"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">帮助信息</a>
      <a href="https://download.mjcopilot.com"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">下载 Windows 版</a>
      <a href="{{site.url}}{{site.baseurl}}/faq"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">常见问题 FAQ</a>
      <a href="https://github.com/latorc/MahjongCopilot" target="_blank"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Github Repo</a>
      <hr>
      <img src="{{site.url}}/assets/images/shot3_lower.png" alt="Overlay" style="max-width: 100%">
      <div class="columns has-text-left is-marginless is-paddingless" id="page-section">
        <div class="content has-text-white has-text-weight-medium is-family-primary">
        <p><br>
        麻将 Copilot，你的麻将 AI 助手。对游戏对局的每一步进行提示和指导。现支持雀魂的三人和四人麻将模式。<br>
        &nbsp;► 对局每一步实时 AI 指导；<br>
        &nbsp;► 游戏中覆盖显示 (HUD)；<br>
        &nbsp;► 自动打牌，自动加入游戏；<br>
        &nbsp;► 多模型支持：支持本地 Mortal 模型和在线模型；支持三麻和四麻；<br>
        &nbsp;► 使用内置网页客户端或 Windows 客户端；多语言支持。<br>
        <br>
        本项目是开源自由项目, Github: <a href="https://github.com/latorc/MahjongCopilot" target="_blank"> https://github.com/latorc/MahjongCopilot </a><br>
        本项目采用<a href="https://github.com/latorc/MahjongCopilot/blob/main/LICENSE" target="_blank"> GNU GPL v3 </a>许可协议。<br>
        本程序实现和模型基于 Akagi. 关于 Akagi 以及模型介绍，请访问 <a href="https://github.com/shinkuan/Akagi/blob/main/README_CH.md#%E6%95%99%E7%A8%8B" target="_blank"> Akagi Github Repo </a>
        <br>
        <br>
        QQ群: 1031865144
        <br>
        Discord频道: <a target="_blank" href="https://discord.gg/7hcZYTFw5r">https://discord.gg/7hcZYTFw5r</a>
        <br>
      </p>
      <hr>
        <h3 class="has-text-white-bis is-uppercase has-text-weight-medium is-marginless">看看 AI 是怎么打牌的</h3>
        <br>
        <video autoplay controls>
          <source src="{{site.url}}/assets/images/mc_demo1.mp4" type="video/mp4" style="max-width: 100%">
        </video>
      </div></div>

      <hr>
      <img src="{{site.url}}/assets/images/gui.png" alt="Main GUI" style="max-width: 100%">
      <img src="{{site.url}}/assets/images/settings.png" alt="Settings Window" style="max-width: 100%">
      <img src="{{site.url}}/assets/images/shot2.png" alt="Game screenshot 2" style="max-width: 100%">
      <img src="{{site.url}}/assets/images/shot3.png" alt="Game screenshot 3" style="max-width: 100%">
    </div>
  </div>
</section>
