<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/help"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">帮助信息</a>
      </a>
      <a href="https://download.mjcopilot.com"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">点击下载Windows版</a>
      </a>
      <a href="https://github.com/latorc/MahjongCopilot" target="_blank"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Github Repo</a>
      </a>
      <hr>
      <img src="{{site.url}}/assets/images/shot3_lower.png" alt="Description of image"> 
      <div class="columns has-text-centered" id="page-section">
      <div class="column is-marginless is-paddingless ">
        <div class="column has-text-left-desktop has-text-left-tablet">
        <div class="content has-text-white">
          <br>
          <p>麻将 AI 助手，基于 mjai 协议 (Mortal模型) 的机器人。会对游戏对局的每一步进行指导。现支持雀魂，三人和四人麻将模式。<br>
            - 对局每一步实时 AI 指导；游戏中覆盖显示；<br>
            - 自动打牌，自动加入游戏；<br>            
            - 多模型支持：支持本地 Mortal 模型和在线模型；支持三麻和四麻；<br>
            - 多语言支持。<br>
            <br>
            本项目是开源项目, Github: <a href="https://github.com/latorc/MahjongCopilot" target="_blank"> https://github.com/latorc/MahjongCopilot </a><br>
            本程序实现和模型基于 Akagi. 获取本地模型文件，请访问 <a href="https://github.com/shinkuan/Akagi/blob/main/README_CH.md#%E6%95%99%E7%A8%8B" target="_blank"> Github: Akagi </a>
          </p>
          QQ群：834105526 <a target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=Mec5daqIyUsuZjCLojH_t88hQV6luPxl&jump_from=webapi&authKey=nNSpmIQY3ieVau/oLTF9eNO6YTqAm1+Ne3iE3zpqmFrj61iAUDu/GSpA38g93Zlx"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="加入QQ群" title="麻将 Copilot"></a>
      </div></div></div></div>
      <hr>
      <img src="{{site.url}}/assets/images/shot1.png" alt="Description of image"> 
      <img src="{{site.url}}/assets/images/settings.png" alt="Description of image"> 
      <img src="{{site.url}}/assets/images/shot2.png" alt="Description of image"> 
      <img src="{{site.url}}/assets/images/shot3.png" alt="Description of image"> 
    </div>
  </div>
</section>