<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/help"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">帮助信息</a>
      </a>
      <a href="https://download.mjcopilot.com"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">下载</a>
      </a>
      <hr>
      <img src="{{site.url}}/assets/images/shot3_lower.png" alt="Description of image"> 
      <div class="columns has-text-centered" id="blog-card">
      <div class="column is-marginless is-paddingless ">
        <div class="column has-text-left-desktop has-text-left-tablet">
        <div class="content has-text-grey">
          <br>
          麻将 AI 助手，基于 mjai (Mortal模型) 实现的机器人。会对游戏对局的每一步进行指导。现支持雀魂三人、四人麻将。<br>
            - 对局每一步 AI 指导，可在游戏中覆盖显示<br>
            - 自动打牌，自动加入游戏<br>
            - 多语言支持<br>
            - 支持本地 Mortal 模型和在线模型，支持三麻和四麻<br>
      </div></div></div></div>
      <hr>
      <img src="{{site.url}}/assets/images/shot1.png" alt="Description of image"> 
      <img src="{{site.url}}/assets/images/settings.png" alt="Description of image"> 
      <img src="{{site.url}}/assets/images/shot2.png" alt="Description of image"> 
      <img src="{{site.url}}/assets/images/shot3.png" alt="Description of image"> 
    </div>
  </div>
</section>